.container {
  position: relative;
}

.loader {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  width: 80px;
  z-index: 10;
}
