.wrapper {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px 8px;
  font-size: 18px;
  color: rgb(239, 237, 237);

  display: flex;
  flex-direction: column;
  height: 90%;
}

.greenShadow {
  box-shadow: 2px 2px 4px rgb(29, 183, 29), -2px -2px 4px rgb(29, 183, 29);
}

.redShadow {
  box-shadow: 2px 2px 4px red, -2px -2px 4px red;
}

.redText {
  color: rgb(222, 9, 9);
}

.greenText {
  color: rgb(29, 183, 29);
}

.carPictureContainer {
  height: 200px;

  @media (min-width: 768px) {
    height: 140px;
  }
}

.carPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carDetails {
  flex-grow: 1;
}

.modelName {
  text-transform: capitalize;
}

.btnList {
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 12px;
}

.btnItem {
  width: calc((100% - 16px) / 2);
}

.btn {
  width: 100%;
  border-radius: 16px;
  border: none;
  background-image: linear-gradient(
    120deg,
    rgba(2, 6, 14, 0.3),
    rgba(41, 4, 252, 0.3)
  );
  padding-top: 8px;
  padding-bottom: 8px;
}

.notAccessBtn {
  border: 1px solid red;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rgb(134, 19, 19);
  margin-left: auto;
  margin-right: auto;
}
