.container {
  /* border: 1px solid #000; */

  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;

  /* background-color: var(--background-color); */
  /* background-image: linear-gradient(
    to bottom,
    rgba(8, 49, 12, 0.6),
    rgba(11, 5, 46, 0.6)
  ); */
}
