.container {
  background-image: none;
  background-image: linear-gradient(
      120deg,
      rgba(230, 232, 230, 0.5),
      rgba(185, 187, 194, 0.5)
    ),
    url("../../images/audi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.updateUserForm {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: 400px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
  font-weight: 600;
}

.input {
  height: 32px;
  border-radius: 12px;
  padding-left: 8px;
  border: none;
  background-color: #fcf7f7;
}

.eyeBtn {
  position: absolute;
  top: 32px;
  right: 16px;
  background-color: inherit;
  border: none;
}

.submit {
  height: 32px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 24px;
  background-image: linear-gradient(
    120deg,
    rgba(10, 99, 13, 0.3),
    rgba(11, 65, 241, 0.3)
  );
}

.submitLink {
  width: 600px;
}

.errorField {
  color: #ff0000;
}

.inputError {
  color: #ff0000;
  border-color: #ff0000;
}
