.container {
  scroll-behavior: auto;
}

.btnContainer {
  width: 100%;
  height: 50px;
  position: relative;
}

.closeBtn {
  padding: 16px 16px 14px 16px;
  background-color: rgb(91, 172, 223);
  position: absolute;
  right: 0px;
  border-radius: 8px;
  border: none;
}
