.navList {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
}

.navItem {
  /* border: 1px solid #000; */
  border-radius: 8px;
  padding: 4px 8px;
  background-image: linear-gradient(
    120deg,
    rgba(2, 6, 14, 0.3),
    rgba(41, 4, 252, 0.3)
  );
}
