.container {
  background-image: none;
}

.paginationWrapper {
  border-bottom: 1px solid #000;
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
  padding: 8px;
}

.filterBtnList {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 4px;
}

.filterBtnItem {
  width: calc((100% - 16px) / 2);
}

.filterBtn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(
    120deg,
    rgba(16, 210, 81, 0.3),
    rgba(82, 46, 239, 0.3)
  );
}

.totalCars {
  padding: 8px;
  color: antiquewhite;
}

.carsList {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.carItem {
  padding: 4px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: calc((100% - 29px) / 3);
  }
}

.arrowBtn {
  border: none;
  background-color: inherit;
}

.arrowIcon {
  fill: blue;
}
