.container {
  background-image: none;
}

.paginationWrapper {
  border-bottom: 1px solid #000;
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
  padding: 8px;
}

.carsList {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.carItem {
  padding: 4px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: calc((100% - 24px) / 3);
  }
}

.arrowBtn {
  border: none;
  background-color: inherit;
}

.arrowIcon {
  fill: blue;
}
