.registerContainer {
  text-align: center;
}

.confirmEmail {
  width: 90%;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}

.registerForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: 400px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
  text-align: start;
}

.input {
  height: 32px;
  border-radius: 12px;
  padding-left: 8px;
  border: none;
  background-color: #fcf7f7;
}

.eyeBtn {
  position: absolute;
  top: 38px;
  right: 16px;
  background-color: inherit;
  border: none;
}

.submit {
  height: 32px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 24px;
  background-image: linear-gradient(
    120deg,
    rgba(10, 99, 13, 0.3),
    rgba(11, 65, 241, 0.3)
  );
  /* box-shadow: 2px 2px 2px #e2c7ca, -2px -2px 2px #e2c7ca; */
}

.errorField {
  color: #ff0000;
}

.inputError {
  color: #ff0000;
  border-color: #ff0000;
}
