.carWrapper {
  padding-bottom: 20px;
  /* min-height: 100vh; */
  /* background-image: linear-gradient(
    to bottom,
    rgba(8, 49, 12, 0.6),
    rgba(11, 5, 46, 0.6)
  ); */
}

.btnWrapper {
  padding-left: 12px;
  padding-right: 12px;
}

.addCar {
  width: 100%;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(
    120deg,
    rgba(2, 6, 14, 0.3),
    rgba(41, 4, 252, 0.3)
  );
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 16px;

  @media (min-width: 768px) {
    width: 180px;
    margin-left: 4px;
  }
}
