.contactList {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  /* align-items: stretch; */
  /* flex-shrink: 0; */

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* @media screen and (min-width: 768px) {
  .contactList {
    flex-direction: row;
    flex-wrap: wrap;
  }
} */

.contactItem {
  border: 1px solid #000;
  /* padding: 4px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;

  /* flex: 1; */

  @media (min-width: 768px) {
    width: calc((100% - 20px) / 2);
  }
}
