.section {
  padding-top: 16px 8px;
  text-align: center;
  background-color: rgb(246, 243, 238);
  height: 100vh;
}

.content {
  padding: 20px 8px;

  @media (min-width: 768px) {
    padding: 40px 52px;
  }
}

/* @media screen and (min-width: 768px) {
  .content {
    padding: 40px 52px;
  }
} */

.dateContainer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    width: 400px;
  }
}

.calendar {
  border: 1px solid rgb(54, 13, 238);
}
