.section {
  padding-top: 16px 8px;
  text-align: center;
  background-color: rgb(246, 243, 238);
}

.content {
  padding: 20px 8px;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 40px 52px;
  }
}
